.page1 {
  padding:0px;
  margin:0px;
}
ion-page.show-page scroll-content{
  padding:0px;
  margin:0px;
}
.header{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAA8CAYAAACjBADHAAAAAXNSR0IArs4c6QAAADVJREFUKBVj/A8EDFDABGOA6FHOaBgMqXTA8vv3b3gCZvn79y+C8+fPH1QOIyMjWACsDJYDAA2SFkVbFUswAAAAAElFTkSuQmCC');
  background-size: 100% 100%;
  background-repeat: repeat-y;
  line-height: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  padding:0px 20px;
  width:65px;
  vertical-align: middle;
  //display: inline-block;
}
.menu-icon{
  //display: inline-block;
  vertical-align: middle;
  padding: 0px 20px;
}

.core{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding:20px;
  h1{
    /* Solution d’urgence : */
    font-family: Lato-Black;
    font-size: 17px;
    color: #737373;
    letter-spacing: 10.69px;

  }
  div{
    text-align: center;
    transition: all 1s ease-in-out;
    h1{
      text-align: center;
    }
  }
  .steps{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rapide{
    padding:10px;
    margin: 0px 0px;
    min-width: 300px;
  }
  .simple{
    padding:10px;
    margin: 0px 0px;
    min-width: 300px;
  }
  .fiable{
    padding:10px;
    margin: 0px 0px;
    min-width: 300px;
  }

}

.gradient-text {
  /* Rapide: */
  font-family: Lato-Semibold;
  letter-spacing: 10px;
  font-size: 22px;
  background: -webkit-linear-gradient(#00D3C6, #03C4B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 5;
}

.disc{
  font-family: Lato-Semibold;
  font-size: 14px;
  color: #3C3C3C;
  letter-spacing: 6px;
  line-height: 3;
  min-height:300px
}

.home-btn{
  /* Rectangle 15: */
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 0px 11px 0px #DFDFDF;
  border-radius: 10px;
  /* Explorer: */
  font-family: Lato-Semibold;
  font-size: 16px;
  color: #00AB99;
  letter-spacing: 4px;
  padding: 0px 50px;
}

.hollowbtn{
    border: 1px solid #E6E6E6;
    box-shadow: 0px 0px 11px 0px #DFDFDF;
    border-radius: 10px;
    background: #02C2B3;
    background: #02C2B3;
    background: #FFFFFF;
    font-family: Lato-Medium;
    font-size: 16px;
    color: #02C2B3;
    letter-spacing: 10px;
    line-height: 3;
    padding: 0 20px;
    min-width: 300px;
    width: 300px;
    margin: 20px 0;
}
